footer {
  margin-top: 3rem;
}

.container_lista_social {
  display: flex;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  justify-content: flex-end;

  .lista_social {
    display: flex;
    list-style: none;
    gap: 3rem;

    li img {
      cursor: pointer;
    }
  }
}