@keyframes aparecer-formas-topo {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes aparecer-formas-bottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.formas_container {  
  position: absolute;
  width: 50%;
  height: 50%;

  img {
    position: fixed;
    z-index: -1;
  }

  &__top_left {
    top: 0;
    left: 0;
    width: 40rem;
    animation: aparecer-formas-topo 1.8s ease-in-out forwards;
  }

  &__top_right {
    top: 0;
    right: 0;
    width: 22rem;
    animation: aparecer-formas-topo 1.8s ease-in-out forwards;
  }

  &__bottom_left {
    bottom: 0;
    left: 0;
    width: 25rem;
    animation: aparecer-formas-bottom 1.8s ease-in-out forwards;
  }

  &__bottom_right {
    right: 0;
    bottom: 0;
    width: 42rem;
    animation: aparecer-formas-bottom 1.8s ease-in-out forwards;
  }
}

.ano_novo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 94vw;
  height: 54dvh;
  margin: 0 auto;
  margin-top: 12vh;
}

.ano_novo__imagem img {
  width: 590px;
  animation: glow 1.5s infinite alternate;
  animation-delay: 2s;

  @keyframes glow {
    0% {
      filter: drop-shadow(0 0 2px #f1c40f);
    }

    100% {
      filter: drop-shadow(0 0 10px #f1c40f);
    }
  }
}

.mensagem {
  text-align: right;
  text-transform: capitalize;

  h1 {
    font-size: 3.6rem;
    font-weight: $light;
    color: $navy-blue;
  }

  h2 {
    font-size: 5rem;
    font-weight: $bold;
    color: $navy-blue;
  }
}

.mensagem__poema {
  margin-top: 2rem;

  p {
    font-size: 2.5rem;
    line-height: 1.4;
    color: $navy-blue;
  }
}

@media (max-width: $breakpoint-tablet) {
  .formas_container {
    &__top_left {
      width: 18rem;
    }

    &__top_right {
      width: 13rem;
    }

    &__bottom_left {
      width: 10rem;
    }

    &__bottom_right {
      width: 18rem;
    }
  }
  
  .ano_novo {
    flex-direction: column;
    gap: 1.5rem;
    height: auto;
    margin-top: 4vh;
  }

  .ano_novo__imagem {
    margin: 0 auto;

    img {
      width: 350px;
    }
  }

  .mensagem {
    text-align: center;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 4rem;
    }
  }

  .mensagem__poema {
    margin-top: 1.5rem;

    p {
      width: 92%;
      margin: 0 auto;
      font-size: 2.1rem;
      line-height: 1.5;
      text-align: justify;
    }
  }
}