header {
  padding: 1rem 0;
}

.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;

  .logo img {
    width: 90px;
  }
}

.nav_list {
  display: flex;
  list-style: none;
  gap: 5rem;

  li a {
    font-size: 3rem;
    font-weight: $bold;
    color: $navy-blue;
  }
}